.clip {
    position: relative;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.clip-video {
    width: 100%;
    height: auto;
    display: block;
}

.clip-info {
    width: 90%;
    height: auto;

    padding: 1rem;

    position: absolute;
    bottom: 0px;
    left: 20px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

    z-index: 10;
}

.clip-info p {
    color: white;
    font-size: 0.9rem;
    margin: 0;
}

.clip-anime {
    text-align: right;
  }